<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(' <%= image_path "background.jpg" %>');">
  <div class="banner-content">
    <h1> <%= @product.name %> </h1>
    <h2> <%= @product.tagline %> </h2>
    <h2> <%= @product.category %> </h2>
    <%= link_to "Visit website", @product.url, class: "btn btn-primary" %>
    <%= link_to "Editer", edit_product_path(@product), class: "btn btn-warning" %>
    <%= link_to "Supprimer",product_path(@product), method: :delete, class: "btn btn-danger" %>
    <%= link_to "Revenir à la liste de produits", products_path, class: "btn btn-info" %>
  </div>
</div>
